<!-- Toolbar -->
<div class="header" role="banner">
    <img width="40" alt="{{ title }} Logo" fill="#000" src="assets/logo.png"/>
    <span>{{ title }}</span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="{{ facebookURL }}" title="Facebook">
        <svg id="facebook-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <rect width="50" height="50" fill="none"/>
            <path d="M40,0H10C4.486,0,0,4.486,0,10v30c0,5.514,4.486,10,10,10h30c5.514,0,10-4.486,10-10V10C50,4.486,45.514,0,40,0z M39,17h-3 c-2.145,0-3,0.504-3,2v3h6l-1,6h-5v20h-7V28h-3v-6h3v-3c0-4.677,1.581-8,7-8c2.902,0,6,1,6,1V17z" fill="#fff"/>
        </svg>
    </a>
</div>