<app-header></app-header>
<div class="content" role="main">
    <!-- Resources -->
    <h2>{{ Matches }}</h2>
    <p>{{ Info }}</p>
<match-list></match-list>
<app-footer></app-footer>
</div>

<router-outlet></router-outlet>