<div class="card-container" *ngFor="let match of (matchList$ | async)">
    <a class="card" target="_blank" rel="noopener" href="./">
        <div style="width:10%">{{ match.date }}</div>
        <div style="width:35%">{{ match.homeTeam }}</div>
        <div style="width:10%">{{ match.awayTeam }}</div>
        <div style="width:35%">{{ match.prediction }}</div>
    </a>
</div>